<?xml version="1.0"?>
<config>
    <modules>
        <Test_Xavierbaez>
            <version>1.0.1</version>
        </Test_Xavierbaez>
    </modules>
    <default>
        <test_xavierbaez>
            <threshold_value>1000</threshold_value>
        </test_xavierbaez>
    </default>
    <adminhtml>
        <events>
            <sales_order_grid_collection_load_before>
                <observers>
                    <test_xavierbaez>
                        <model>test_xavierbaez/observer</model>
                        <method>salesOrderGridCollectionLoadBefore</method>
                    </test_xavierbaez>
                </observers>
            </sales_order_grid_collection_load_before>
        </events>
        <layout>
            <updates>
                <test_xavierbaez>
                    <file>test/xavierbaez.xml</file>
                </test_xavierbaez>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <events>
            <checkout_submit_all_after>
                <observers>
                    <test_xavierbaez_model_observer_save>
                        <type>singleton</type>
                        <class>Test_Xavierbaez_Model_Observer</class>
                        <method>checkRadioActive</method>
                    </test_xavierbaez_model_observer_save>
                </observers>
            </checkout_submit_all_after>
        </events>
        <helpers>
            <test_xavierbaez>
                <class>Test_Xavierbaez_Helper</class>
            </test_xavierbaez>
        </helpers>
        <models>
            <test_xavierbaez>
                <class>Test_Xavierbaez_Model</class>
                <resourceModel>test_xavierbaez_resource</resourceModel>
            </test_xavierbaez>
            <test_xavierbaez_resource>
                <class>Test_Xavierbaez_Model_Resource</class>
            </test_xavierbaez_resource>
            <sales_resource>
                <rewrite>
                    <order_grid_collection>Test_Xavierbaez_Model_Resource_Sales_Order_Grid_Collection</order_grid_collection>
                </rewrite>
            </sales_resource>
        </models>
        <resources>
            <test_xavierbaez_setup>
                <setup>
                    <module>Test_Xavierbaez</module>
                </setup>
            </test_xavierbaez_setup>
        </resources>
    </global>
</config>