<?xml version="1.0"?>
<config>
    <modules>
        <Test_Xavierbaez>
            <version>1.0.0</version>
        </Test_Xavierbaez>
    </modules>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <test_xavierbaez>
                                            <title>Threshold</title>
                                        </test_xavierbaez>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <blocks>
        <adminhtml>
            <rewrite>
                <sales_order_grid>Test_Xavierbaez_Block_Adminhtml_Order_Grid</sales_order_grid>
            </rewrite>
        </adminhtml>
    </blocks>
    <default>
        <test_xavierbaez>
            <threshold_value>1000</threshold_value>
        </test_xavierbaez>
    </default>
    <global>
        <blocks>
            <adminhtml>
                <rewrite>
                    <sales_order_grid>Test_Xavierbaez_Block_Adminhtml_Sales_Order_Grid</sales_order_grid>
                </rewrite>
            </adminhtml>
        </blocks>
        <events>
            <sales_order_save_before>
                <observers>
                    <test_xavierbaez_model_observer_save>
                        <type>singleton</type>
                        <class>Test_Xavierbaez_Model_Observer</class>
                        <method>checkRadioActive</method>
                    </test_xavierbaez_model_observer_save>
                </observers>
            </sales_order_save_before>
        </events>
        <helpers>
            <test_xavierbaez>
                <class>Test_Xavierbaez_Helper</class>
            </test_xavierbaez>
        </helpers>
        <models>
            <test_xavierbaez>
                <class>Test_Xavierbaez_Model</class>
                <resourceModel>test_xavierbaez_resource</resourceModel>
            </test_xavierbaez>
            <test_xavierbaez_resource>
                <class>Test_Xavierbaez_Model_Resource</class>
            </test_xavierbaez_resource>
        </models>
        <resources>
            <test_xavierbaez_setup>
                <setup>
                    <module>Test_Xavierbaez</module>
                </setup>
            </test_xavierbaez_setup>
        </resources>
    </global>
</config>